@charset "ISO-8859-1";

/*---------------------- confirmPasswordHod.jsp------------------------*/

*{
	margin: 0;
    padding: 0;
    border: border-box;
    font-family: arial;
}

body{
	background-image: linear-gradient(to left, rgba(144, 224, 239,0), rgba(72, 202, 228,1));
}
.center{
	height:200px;
	width:800px;
	margin-top:100px;
	margin-left:400px;
	background-color:#00B4D8;
	display:flex;
	flex-direction:row;
    justify-content:space-around;
	box-shadow:inset -5px -5px rgba(0,0,0,0.5);
	border-radius:25px;
}
.label{
height:200px;
width:400px;	
display:flex;
flex-direction:column;
justify-content:space-around;
}

.btn{
	height:200px;
	width:100px;
    display:flex;
	flex-direction:column;
    justify-content:space-around;
    
}
.btn-shadow{
	box-shadow:inset -5px -5px rgba(0,0,0,0.5);
	border-radius:10px;
	font-size:20px;
    padding:15px;
    margin-top:5px;
    margin-left:-100px;
}
.popup{
	height:400px;
	width:300px;
	position:absolute;
	top:-150%;
	left:50%;
	opacity:0;
	transform: translate(-50%,-50%) scale(1.25);
	width:300px;
	padding:20px 30px;
	background:#fff;
	box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
	border-radius:10px;
	transition:top 0ms ease-in-out 200ms,
			  opacity 200ms ease-in-out 0ms,
			  transform 20ms ease-in-out 0ms,;
	background-image: linear-gradient(to right, rgba(0, 53, 102,0), rgba(255, 195, 0,1));
	
	
}
.popup.active{
	top:50%;
	opacity:1;
	transform:translate(-50%,-50%) scale(1);
	transition:top 0ms ease-in-out 0ms,
			  opacity 200ms ease-in-out 0ms,
			  transform 20ms ease-in-out 0ms,
}

.close-btn{
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	width:50px;
	cursor:pointer;
	top:10px;
	margin-left:250px;
	background-color:#bdbdbd;
	border-radius:50%;
	font-size:30px;
	}
	
	
.form-element{
	display:flex;
	flex-direction:column;
	height:350px;
	width:250px;
	margin-top:100px;
	
}

#input{
	width:300px;
	height:30px;
	font-size:20px;
	margin-bottom:20px;
	border-radius:5px;
	color:black
}
#submit{
	margin-left:40px;
	height:25px;
	font-size:20px;
	border-radius:5px;
	color:balck
}
